.nav {
    padding: 18px 24px;
    width: 100%;
    height: 12vh;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #222;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 10;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav div i {
    font-size: 1.8rem;
}

#icon {
    font-size: 1.1rem;
    font-weight: 500;
}
#menu {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #EED9B9;
    font-size: small;
}

.nav a:hover {
    color: #ffffff;
}
/* index nav  */
#sign:hover {
    background-color: #5E0006;
}
/* track nav */
.date ,#sign{
    padding: 5px 8px;
    min-width: 140px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.date select {
    width: 100%;
    border: 0px;
    color: white;
    background-color: transparent;
}

.date select option {
    background-color: var(--card-light);
}

select:focus {
    outline: none;
}
.sidebar{
    position: fixed;
}
.sidebar .nlink{
    visibility:hidden;
    padding: 20px 10px;
    background-color: var(--card-light);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s;
}
.closemenu{
    width: 100%;
    transition: 0.3s;
}
.sidebar .nlink a{
    width: 100%;
}
@media(max-width:800px) {
    .nav {
        padding: 5px 10px;
        height: 9vh;
    }
    #links {
        display: none;
    }
    #menu {
        display: flex;
    }
    .sidebar .nlink{
        display: flex;
    }
}